{% extends 'base.html.twig' %}

{% block title %}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>I hate U {{ controller_name }}! ✅</h1>

    <h2> {{ article.nom}}</h2>
    <h2> {{ article.id}}</h2>


    <ul>
        <li><code><a href="{{ path('app_home') }}">v</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/PC103-01/Desktop/tinCourses_project/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
