{% extends 'base.html.twig' %}

{% block title %}Hello AdminArticleController!{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
            <th>
                <th>Image</th>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
            <tr>
                <td> <img src="{{article.image}}" width="50px" height="100px" alt=""> </td> 
                <td>{{ article.id }}</td>
                <td>{{ article.nom }}</td>
                <td>{{ article.description }}</td>
                <td>
                    <a href="{{ path("app_article_show", { "article" : article.id }) }}"> Show </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
